<div class="paginator-container" *ngIf="paginationStyle === 'nextprev'">
  <div class="prev flex-one" *ngIf="nextPrevOption === 'opposite'">
    <button class="p-btn" (click)="prev()" [disabled]="pageInfo.dataFrom <= 1">Prev</button>
  </div>
  <div class="item-group flex-one">
    <select class="b-input" #itemPerPage (change)="setItemsPerPage(itemPerPage.value)">
      <option *ngFor="let itemPerPage of itemsPerPages;" [value]="itemPerPage" [selected]="itemPerPage === selectedItemsPerPage">{{itemPerPage}}</option>
    </select>
  </div>
  <div class="items-range flex-one">
    {{pageInfo?.dataFrom}} - {{pageInfo?.dataTo}} of {{dataLength}} 
  </div>
  <div class="next-prev flex-one" *ngIf="nextPrevOption === 'combine'">
      <button class="p-btn" (click)="prev()" [disabled]="pageInfo.dataFrom <= 1">Prev</button>
      <button class="p-btn" (click)="next()" [disabled]="pageInfo.dataFrom >= pageInfo.dataLength - pageInfo.itemsPerPage">Next</button>
  </div>
  <div class="next flex-one" *ngIf="nextPrevOption === 'opposite'">
    <button class="p-btn right" (click)="next()" [disabled]="pageInfo.dataFrom >= pageInfo.dataLength - pageInfo.itemsPerPage">Next</button>
  </div>
</div>
<div class="paginator-container" *ngIf="paginationStyle === 'number'">
  <div *ngFor="let page of pageNumbers" [ngClass]="page.active ? 'page-number-active' : 'page-number'" (click)="pageNumberChange(page.pageNumber)">{{page.pageNumber}}</div>
</div>